doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, minimum-scale=1,maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(names="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="apple-mobile-web-app-title" content=appName)

    if title
      title= title
    if keywords
      meta(name="keywords" content=keywords)
    if description
      meta(name="description" content=description)
    meta(name="application-name" content=appName data-version=appVersion data-album=raw.album data-artist=raw.artist data-genre=raw.genre data-lang=raw.lang)
    base(href='/')
    link(rel='api', href='api')
    //- link(rel='icon', href='favicon.png' type='image/png')
    link(rel="apple-touch-icon", sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/app.webmanifest")


    //- <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    //- <script src="https://unpkg.com/vue-router@3.0.7/dist/vue-router.js"></script>
    //- <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

    //- Google Tag Manager
    //- script.
    //-   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    //-   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    //-   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    //-   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    //-   })(window,document,'script','dataLayer','GTM-PBZSB96');

    script(src='https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js')
    script(src='https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js')
    script(src='https://cdn.jsdelivr.net/npm/vue-router@3.1.2/dist/vue-router.min.js')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body.page
    //- Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PBZSB96' height=0 width=0 style='display:none;visibility:hidden')
    block content
    script(type='text/javascript', src='/script.js?v='+appVersion)
    link(rel='stylesheet', href='/style.css?v='+appVersion)